<style>
    ul {
       list-style-type: none;
        display: inline-block; 
        text-align: left; 
    }
    
    a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
</style>
<ul>
    <li> <a href="index.html"><i class="fas fa-house-user"></i> Home</a></li>
    <li> <a href="angular-indepth.html"><i class="fas fa-arrow-alt-circle-right"></i> Angular Indepth</a></li>
    <li> <a href="css3-indepth.html"><i class="fas fa-arrow-alt-circle-right"></i> CSS3 Indepth</a></li>
    <li> <a href="layout-indepth.html"><i class="fas fa-arrow-alt-circle-right"></i> Layout Indepth</a></li>
    <li> <a href="animation-indepth.html"><i class="fas fa-arrow-alt-circle-right"></i> Animation Indepth</a></li>
    <li> <a href="javascript-dom-indepth.html"><i class="fas fa-arrow-alt-circle-right"></i>J avaScript DOM Indepth</a></li>
    <li> <a href="css3-theme-indepth.html"><i class="fas fa-arrow-alt-circle-right"></i> CSS3 Theme</a></li>
    <li> <a href="blog.html"><i class="fas fa-arrow-alt-circle-right"></i> Blog</a></li>
    <li> <a href="cool-apps.html"><i class="fas fa-arrow-alt-circle-right"></i> Cool Apps</a></li>
    <li> <a href="about.html"><i class="fas fa-arrow-alt-circle-right"></i> About</a></li>
</ul>